
<div  > <!--[hidden]="!noConnexion"-->
  <div class="calendar">
    <div class="calendar-navs">
      <div class="month-nav">
        <button (click)="prevMonth()">&lt;</button>
        <span class="p4"><h1>{{ currentDate.format('MMMM') }}</h1></span>
        <button (click)="nextMonth()">&gt;</button>
      </div>
      <div class="year-nav">
        <button (click)="prevYear()">&lt;</button>
        <span><h2>{{ currentDate.format('YYYY') }}</h2></span>
        <button (click)="nextYear()">&gt;</button>
      </div>
    </div>
    <div class="month-grid">
      <div class="day-names">
        <div *ngFor="let name of dayNames" class="day-name p9">
          {{ name }}
        </div>
      </div>
      <div class="weeks">
        <div *ngFor="let week of weeks" class="week">
          <ng-container *ngFor="let day of week">
            <div class="week-date disabled" *ngIf="!isSelectedMonth(day.mDate)">
              <span class="date-text">{{ day.mDate.date() }}</span>
            </div>
            <div class="week-date enabled"
                *ngIf="isSelectedMonth(day.mDate)"
                (click)="selectDate(day)"
                [ngClass]="{ today: day.today, selected: day.selected }">
              <span class="date-text">{{ day.mDate.date() }}</span>
              <app-formulaire></app-formulaire>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div >{{SelectedDate}}</div>
</div>
<!--div [hidden]= "noConnexion">
  <p>It works</p>
  <button type="button" (click)="toggleConnexion()">Go back to previous page</button>
</div>-->
