<!--The content below is only a placeholder and can be replaced.-->
<div class="container" with="880px">
  <div style="text-align:center">


<ngx-spinner
bdColor = "rgba(80, 80, 80, 0.9)"
size = "large"
color = "#FFAF19"
type = "pacman"
>
<h2 class="loading1">Le site est en construction.</h2>
<h2 class="loading2">Vous êtes redirigé vers la demo.</h2>
</ngx-spinner>


<table id="table" class="table">
    <thead id="head" class="thead-dark">
      <tr>
        <th id="leth" scope="col">&nbsp;</th>
        <th scope="col">Lundi</th>
        <th scope="col">Mardi</th>
        <th scope="col">Mercredi</th>
        <th scope="col">Jeudi</th>
        <th scope="col">Vendredi</th>
        <th scope="col">Samedi</th>
        <th scope="col">Dimanche</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th  id="leth">Déjeuner</th>
        <td> <app-formulaire></app-formulaire>  <app-formulaire2></app-formulaire2></td> 
        <td> <app-formulaire></app-formulaire>  <app-formulaire2></app-formulaire2></td>
        <td> <app-formulaire></app-formulaire> <app-formulaire2></app-formulaire2></td>
        <td> <app-formulaire></app-formulaire> <app-formulaire2></app-formulaire2></td>
        <td> <app-formulaire></app-formulaire>  <app-formulaire2></app-formulaire2></td>
        <td> <app-formulaire></app-formulaire> <app-formulaire2></app-formulaire2></td>
        <td> <app-formulaire></app-formulaire>  <app-formulaire2></app-formulaire2></td>
      </tr>

      <tr >
          <th id="leth" >Diner</th>
          <td> <app-formulaire></app-formulaire>  <app-formulaire2></app-formulaire2></td> 
          <td> <app-formulaire></app-formulaire> <app-formulaire2></app-formulaire2></td>
          <td> <app-formulaire></app-formulaire>  <app-formulaire2></app-formulaire2></td>
          <td> <app-formulaire></app-formulaire>  <app-formulaire2></app-formulaire2></td>
          <td> <app-formulaire></app-formulaire>  <app-formulaire2></app-formulaire2></td>
          <td> <app-formulaire></app-formulaire>  <app-formulaire2></app-formulaire2></td>
          <td> <app-formulaire></app-formulaire>  <app-formulaire2></app-formulaire2></td>
        </tr>


    </tbody>
  </table>