


<!-- NG Template -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="modal-title">Votre plat du jour</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">




    <!-- Ici, c'est le début du formulaire complet -->
    <div class="container">

      <h1><span class="fa fa-cutlery"> </span> Choisissez une recette</h1>
      <form class="navbar-form inline-form">

        <!------ Barre de recherche -->

  <!--      <div id="recherche" class="form-group">

          <input id="inputrecherche" type="search" class="input-sm form-control" placeholder="Chercher une recette ">

          <button id="buttonrecherche" type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search"></span></button>

        </div> -->


        <div id="temps" class="input-group">
            <input id="tempscuisson" type="text" class="form-control" placeholder="Cherchez une recette" aria-label="Input group example" aria-describedby="btnGroupAddon">
              <div class="input-group-prepend">
                  <button id="buttonrecherche1" type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search"></i></button>
              </div>
              
        </div>

      </form>





      <!------- Checkbox Filtres -->
      <div id="filtres" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox">
        <label id="label" class="form-check-label" for="inlineCheckbox1">Entrée</label>
      </div>
      <div  id="filtres" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox">
        <label id="label" class="form-check-label" for="inlineCheckbox2">Plat</label>
      </div>
      <div id="filtres" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox">
        <label id="label" class="form-check-label" for="inlineCheckbox2">Végétarien</label>
      </div>
      <div id="filtres" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox">
        <label id="label" class="form-check-label" for="inlineCheckbox2">Rapide</label>
      </div>
      <div>
        <button id="atable1" type="button" class="btn btn-info"><span class="fa fa-shopping-basket"> </span> A table !</button>

        <!----- Barre CREER RECETTE
        <div id="creer" class="input-group">
            <div class="input-group-btn">
              <input id="inputcreer" type="text" class="input-sm form-control" placeholder="Créer une recette">
              <button id="buttoncreer" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Type de plat</button>
              <ul class="dropdown-menu">
                <li><a title="Lien 1">Entrée</a></li>
                <li><a title="Lien 2">Plat</a></li>
                <li><a title="Lien 3">Dessert</a></li>
              </ul>
            </div>
            
        </div> -->

        <hr id="ligne" align=center width="280px">


        <!------ Barre CREER UNE RECETTE -->
        <h1><span class="fa fa-pencil"></span> Ou ajoutez la votre !</h1>

        <input id="idutilisateur" type="hidden">


        <form class="navbar-form inline">
          <div id="creer" class="form-group form-inline">

            <input id="inputrecherche2" type="search" class="input-sm form-control" placeholder="Titre de la recette ">
            <div id="avion" >
              <div id="col" class="col">
                <div ngbDropdown class="d-inline-block">
                  <button id="buttoncreer" class="btn btn-outline-primary" ngbDropdownToggle>Type de plat</button>
                  <div ngbDropdownMenu aria-labelledby="buttoncreer">
                    <button class="dropdown-item">Entrée</button>
                    <button class="dropdown-item">Plat principal</button>
                    <button class="dropdown-item">Dessert</button>
                  </div>
                </div>
              </div>
            </div>
          </div>



        <!---- Paramètres AJOUT RECETTE /Temps de préparation-->
        <div id="temps">


            <div id="temps" class="input-group">
                <input id="tempscuisson" type="text" class="form-control" placeholder="Temps de préparation" aria-label="Input group example" aria-describedby="btnGroupAddon">
                  <div class="input-group-prepend">
                    <div id="minutes" class="input-group-text">Minutes</div>
                  </div>
                  
            </div>

            <div id="temps" class="input-group">
                <input id="tempscuisson" type="text" class="form-control" placeholder="Temps de cuisson" aria-label="Input group example" aria-describedby="btnGroupAddon">
                  <div class="input-group-prepend">
                    <div id="minutes" class="input-group-text">Minutes</div>
                  </div>
                  
            </div>

<!-- 
          <div class="input-group mb-3">
            <input id="inputminutes" type="text" class="form-control" placeholder="Temps de préparation" aria-label="Temps de préparation"
              aria-describedby="basic-addon2">
            <div class="input-group-append">
              <span id="spanminutes" class="input-group-text">minutes</span>
            </div>
          </div>   -->


        </div>


        <!-- AJOUT des INGREDIENTS-->
        <div id="temps" class="input-group">
            <input id="tempscuisson" type="text" class="form-control" placeholder="Les ingrédients" aria-label="Input group example" aria-describedby="btnGroupAddon">
              <div class="input-group-prepend">
                  <button id="buttonrecherche1" type="submit" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></button>
              </div>
              
        </div>




        <!-- Description NOUVELLE RECETTE-->

        <input id="description" type="search" class="input-sm form-control" placeholder="Description">
        <!--<textarea id="description" placeholder="   Description" name="negative" rows=2 COLS=20></textarea> <p></p>-->

        <div id="temps" class="input-group">
            <input id="tempscuisson" type="text" class="form-control" placeholder="Qui vient manger?" aria-label="Input group example" aria-describedby="btnGroupAddon">
              <div class="input-group-prepend">
                <div id="minutes" class="input-group-text">Personnes</div>
              </div>
              
        </div>

        <div>
          <button id="atable2" type="button" class="btn btn-info"><span class="fa fa-shopping-basket"> </span>  A table !</button>
        </div>
      </form>

        <!-- Fin du formulaire complet -->
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </div>
    </div>
    <!-- FIN Ng Template-->

</ng-template>








<!-- NG TEMPLATE 2 !-->
<ng-template #content2 let-modal>
    <div class="modal-header">
      <h3 class="modal-title">Si vous changez d'avis :</h3>
      
      <button id="supprecette" type="button" class="btn btn-danger" aria-label="Close">Supprimer cette recette</button>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body">

      <!-- DEBUT 2eme HTML -->

      <div class="container">

          <h1><span class="fa fa-cutlery"> </span>  La quiche aux endives</h1>

          <h2>Etape 1: Laver les endives</h2>
          <h2>Etape 2: Faire la pâte</h2>
          <h2>Etape 3: Blabla</h2>
          <h2>Etape 4: Blabla</h2>

      </div><!--Container-->


      <!-- Fin du formulaire complet -->
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
          <!-- FIN Ng Template-->
      
</ng-template>





<button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content)">Choisir une recette</button>

<button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content2)">Lire la recette</button>