/* You can add global styles to this file, and also import other style files */




.container {
    text-align: center;
    margin-right: auto;
    margin-left: auto;

}


/* TEXTE */
h1 {

font-size: 28px;
font-family: 'Bebas Neue';
margin-top: 20px;
}

/* BARRE DE RECHERCHE de RECETTE */
#inputrecherche {
    border-radius: 5px 0px 0px 5px;
    height: 40px;
    width: 240px;

}

#buttonrecherche {
    border-radius: 0px 5px 5px 0px;
    height: 40px;
    width: 40px;
    border: none;
    background-color: #ffaf19;
    margin-top: 15px;
}

#buttonrecherche1 {
        border-radius: 0px 5px 5px 0px;
    height: 40px;
    width: 40px;
    border: none;
    background-color: #ffaf19;
}

#recherche{
    margin-top: 10px;
    text-align: center;
    display: inline-block;
}



/* FILTRES */
#filtres {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

#label {
    font-weight:normal;
    font-size: 12px;

}


/* BOUTON */
#atable1 {
    width: 280px;
    height: 40px;
    border: none;
    background-color: #ffaf19;
}



/* LIGNE */
#ligne {
    margin-top: 40px; 
    height: 1px;
	border: 0;
	color: rgba(0, 0, 0, 0.384);
    background-color: rgba(0, 0, 0, 0.61);
}






/* BARRE CREER UNE RECETTE */

#creer {
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  
}

#lalala {
    display: inline-block;
}


#buttoncreer {
    border-radius: 0px 5px 5px 0px;
    height: 40px;
    border: none;
    background-color: #ffaf19;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: none;
}


#inputrecherche2 {
    border-radius: 5px 0px 0px 5px;
    height: 40px;
    width: 182px;
    margin: none;
}

.col {
    margin: none;
    padding: 0px;
}

#avion {
    display: inline-block; 
}




/* TEMPS DE CUISSON */

#minutes {
    background-color: #ffaf19;
    font-size: 12px;
    color: white;
    border: #ffaf19;
    border-radius: 0px 5px 5px 0px;
    
}


#tempscuisson {
    border-radius: 5px 0px 0px 5px;
    height: 40px;
}


#temps {
    margin: auto;
    width: 280px;
    text-align: center;
    margin-top: 15px;
}




#inputminutes {
    border-radius: 5px 0px 0px 5px;
    height: 40px;
    width: 240px;
    
    font-size: 12px;

}

.input-group-text {
    border-radius: 0px 5px 5px 0px;
}





/* DESCRIPTION */
#spanminutes {
    border:   rgb(0, 184, 168);
    background-color: #ffaf19;
    color: white;
    height: 40px;
    width: 250px;
    margin: auto;
}
#description {
    
    margin: auto;
    margin-top: 15px;
    border-radius: 5px 5px 5px 5px;
    height: 80px;
    width: 280px;

}


/* NOMBRE DE PERSONNES */
#personnes {
    height: 40px;
    width: 280px;
    margin: auto;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    
}

#inputpersonnes {
    border-radius: 5px 0px 0px 5px;
    height: 40px;
    width: 220px;
    
    font-size: 12px;

}

#spanpersonnes {
    border:   rgb(0, 184, 168);
    background-color:  #ffaf19;
    color: white;
    height: 40px;
    margin: auto;
}





/* BOUTON */
#atable2 {
    width: 280px;
    margin-top: 15px;
    border: none;
    background-color:#ffaf19;
    height: 40px;
    
}



/* NGB2 : LES RECETTES */

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;

}


h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;

}

#supprecette {
    margin-left: 28px;
    margin-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}



::placeholder {
    font-size: 14px;
}


/* BOUTONS */
#button1 {
    background-color: #ffaf19;
    border: none;
    color: white;
    padding: 15px;
    padding-left: 18px;
    padding-right: 18px;
}

