<!-- NG TEMPLATE 2 !-->
<ng-template #content2 let-modal>
    <div class="modal-header">
      <h3 class="modal-title">Si vous changez d'avis :</h3>
  
      <button id="supprecette" type="button" class="btn btn-danger" aria-label="Close">Supprimer cette recette</button>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div id="modal-body" class="modal-body">
  
      <!-- DEBUT 2eme HTML -->
  
      <div class="container">
  


        <h1><span id="icon" class="fa fa-cutlery"> </span> La quiche aux endives</h1>
        
        <hr id="ligne" align=center width="280px">

  

        <div id="details" class="d-inline-block">
            <div id="elementdetails" class="d-inline-block">
              <p id="p1">Préparation</p>
              <p>20 min</p>
            </div>

            <div id="elementdetails2" class="d-inline-block">
              <p id="p1">Cuisson</p>
              <p>20 min</p>
            </div>

            <div id="elementdetails" class="d-inline-block">
                <p id="p1">Nombre de personnes</p>
                <p>4</p>
            </div>
        </div>


      <!-- LISTE DES INGREDIENTS-->
      <div id="tableau">
      <h2>Ingrédients</h2>

        <ul class="list-group">
            <li id="tableauingredients" class="list-group-item d-flex justify-content-between align-items-center">
              Farine
              <span id="quantité" class="badge badge-primary badge-pill">500g</span>
            </li>
            <li id="tableauingredients" class="list-group-item d-flex justify-content-between align-items-center">
              Oeufs
              <span id="quantité" class="badge badge-primary badge-pill">4</span>
            </li>
            <li id="tableauingredients" class="list-group-item d-flex justify-content-between align-items-center">
              Lait
              <span id="quantité" class="badge badge-primary badge-pill">400ml</span>
            </li>
          </ul>
        </div>
      <!-- LISTE DES INGREDIENTS-->


      <!--DESCRIPTION - ETAPES A SUIVRE-->
      <div id="etapes">

        <h2>Etapes de la recette</h2>
        <li id="tableauingredients" class=" d-flex justify-content-between align-items-center">
            Faire ci, faire ça . Couper ceci puis cela. J'ai la dalle on mange quand blabla blablabla nanani nanana c'est délicieux
        </li>

      </div>
      <!--DESCRIPTION - ETAPES A SUIVRE-->


      <!--Container-->
      </div>
      <!--Container-->
  
  
      <!-- Fin du formulaire complet -->
    </div>
  
    <!-- FIN Ng Template-->
  
  </ng-template>

  <button id="button2" class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content2)"><i class="fas fa-glasses"></i></button>